bert-serving-server==1.10.0
bert-serving-client==1.10.0
scikit-learn==0.22.2.post1
nltk==3.5
spacy==2.1.8
flask==1.0.2
flask_cors==3.0.7
lxml==4.5.1
dill==0.3.1.1
numpy==1.15
tensorflow==2.3.1
waitress==1.4.4
